/* BODY */
body{
    font-family: 'montserrat';
}
/* Nav */
.barnav{
    background-color: #f1d25600;
}
.logo{
    color:#252B42;
}
.barnav a {
    color:#737373;
}
/* HEADER */
header{
    min-height: 100vh ;
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%); 
}
.boutonh1{
    border-radius: 37px;
    background-color: #00A0C1;
    border-color: #00A0C1;
}
.boutonh2{
    border-radius: 37px;
    color:#00A0C1;
    border-color: #00A0C1;
}
.titreh{
    font-size:40px;
}
.contenu{
    font-size:20px;
}
/* Why Choose Us*/
.choose{
    width:300px;
    height:150px;
    font-size: 40px;
    font-weight: 700;
}
.chooseparagraphe{
    width:225px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}
.valise{
    width: 48px;
    height: 48px;
}
.shop{
    width: 48px;
    height: 48px;
}
.cahier{
    width:48px;
    height:48px;
}
.card1{
    background-color: #F9F9F9;
    border-color: #F9F9F9;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.cardbleu{
    background-color:#00A0C1;
    border-color:#00A0C1;
    color:white;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
/*Practice Advice*/
.prob{
    color:#737373;
}
.t1{
    font-size: 16px;
    color: #252B42;
}
.p1{
    font-size: 14px;
    color: #737373;
}
.practice{
    background-color: #F3F3F3;
}
.advise{
    width: 180px;
    height: 200px;
    font-size: 40px;
    line-height: 57px;
}
.ph1{
    border-radius: 0%;
}
.carte1{
    border-radius: 0px;
    border:0px;
}
/* we take care*/
.most{
    font-size: 40px;
    line-height: 57px;
}
.calendar{
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.video{
}
.troispersonne{
    width:50px;
    height:50px;
}
.vitesse{
    width:50px;
    height:50px;
}
/*partenaire*/
.partenaire{
    background-color: #FAFAFA
}
.iconne{
    width: 200px;
    height: 109px;
}
/*newsletter*/
.newsletter{
    background-color: #16697A ;
}
.formulaire{
    height: 60px;
}
.sub{
   font-size: 24px;
   line-height: 32px; 
}
.youremail{
    font-size: 14px;
    line-height: 28px;
    color:#737373;
}
.subscribe{
    background-color: #FFA62B ;
}
/*Get in touch*/
.getintouch{
    background-color: #F3F3F3;
}
.getin{
   font-size: 40px; 
   line-height: 57px;
}
.problems{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #737373;
}
.telephone{
    width: 72px;
    height: 72px;
}
.cardwhite{
    border-radius: 0%;
    border-color: rgba(255, 255, 255, 0)
}
.cardblack{
    background-color: #252B42;
    border-radius: 0%;
}
.pins{
    width: 72px;
    height: 72px;
}
.boutonorange{
    color:#FFA62B;
    background-color: rgba(255, 255, 255, 0);
    border-color: #FFA62B;
    font-size: 14px;
    line-height: 24px;
}
.boutonblanc{
    background-color:rgba(0, 0, 0, 0);
    border-color: white;
    font-size: 14px;
    line-height: 24px;
}
.papieravion{
    width: 72px;
    height: 72px;
}
.consulting{
    background-color:#FAFAFA ;
}
.consult{
    font-size: 24px;
    line-height: 32px;
}
.thequick{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color:#737373;
}
.contactus{
    background-color: #FFA62B;
    font-size: 14px;
    line-height: 28px;
}
/*footer*/
.info{
    background-color: #16697A ;
}
.phone{
    width: 50px;
    height: 50px;
}
.fleche{
    width: 50px;
    height: 50px;
}
.avion {
    width: 50px;
    height: 30px;
}